/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #e9e9e9;
}

/* CONTAINER */
.register-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* CARD */
.card-register {
  width: 60%;
  max-width: 1400px;
  height: 100%;
  background: #fff;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

/* FORM SECTION */
.form-section-register {
  flex: 1;
  min-width: 300px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-section-register p {
    text-align: center;
    color: rgb(22, 21, 21);
    margin-top: 20px;
    margin-bottom: 30px;
}

.form-section-register h2 {
  margin-bottom: 30px;
  font-weight: 500;
}

.form-section-register form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-section-register form input {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 10px;
  font-size: 16px;
}

.form-section-register form button {
  width: 70%;
  max-width: 400px;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 10px;
  font-size: 16px;
}

.form-section-register form input {
  border: 1px solid #ccc;
  outline: none;
}

.form-section-register form button {
  background: #0B3D91;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #D4AF37;
  transition: 0.2s;
}

.form-section-register form button:hover {
  background: #F5F3EC;
}

/* IMAGE SECTION */
.image-section-register {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #081C45;
}

.large-logo-register {
  width: 100%;
  max-width: 500px;
  height: auto;
}

/* RESPONSIVE */
@media (max-width: 800px) {
  .card-register {
    flex-direction: column;
    width: 95%;
  }
  
  .image-section-register {
    margin-top: 20px;
  }
}